// COLORS
$white-col: #fff;
$darker-white-col: #F0F0F0;

$black-col:#000000;

$dark-gray-col: #656565;
$light-gray-col: #656565be;

$red-col:#9E122E;
$light-red-col:#9e122ece;

$blue-col: #1A68BB;
$dark-blue-col: #124881;

// FONT
$default-font-size: 1.6rem;

$title-font: "Lato", serif;
$text-font: "Montserrat", serif;

// WIDTH
$max-width: 140rem;

// BORDER_RADIUS

// MARGIN
$sx-margin-bottom:1.4rem;
$sm-margin-bottom: 3rem;
$md-margin-bottom: 6rem;
$lg-margin-bottom: 12.8rem;

//PADDING
// top-right-bottom-left
$md-padding: 0 6.4rem 0 6.4rem;
$sm-padding: 0 3.2rem 0 3.2rem;