.product-item-main{
    padding-top: 15rem;
}

.product-item-content{
    @include center-container;
    padding: $md-padding;

    margin-bottom: 10rem;
    @include respond(tab-port){
        padding: $sm-padding;
    }
}
