.pvc-roll-main{
    padding-top: 5rem;
    background-color: $darker-white-col;
}

.pvc-roll-content{
    @include center-container;
    padding: $md-padding;
    margin-bottom: 15rem;

    @include respond(tab-port){
        padding: $sm-padding;
    }

}